<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{{ Title }}</title>
    <meta name="description" content="Developer and student pursuing a Bachelor of Science in Computer Science from Florida State University. Fascinated with computers, robotics, and space.">

    <!-- Favicons -->
    {% load static %}
    <link href="{% static '/img/favicon.png' %}" rel="icon">
    <link href="{% static '/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <!-- Boxicons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">

    {%  load static %}
    <link rel="stylesheet" href="{% static '/vendor/css/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/css/bootstrap/css/bootstrap.min.css.map' %}">
    <link rel="stylesheet" href="{% static '/vendor/css/bootstrap/css/bootstrap.css.map' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/Site.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/css/venobox/venobox.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/css/owl.carousel/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/css/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/css/icofont/icofont.css' %}">
    <link rel="stylesheet" href="{% static '/vendor/css/icofont/fonts/icofont.woff' %}">
    <link rel="stylesheet" href="{% static '/vendor/css/icofont/fonts/icofont.woff2' %}">
</head>

<body>

    <!-- ======= Mobile nav toggle button ======= -->
    <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

    {% include 'components/header.html' %}
    {% include 'components/hero.html' %}

    <main id="main">

        {% include 'components/about.html' %}
        {% include 'components/skills.html' %}
        {% include 'components/repositories.html' %}
        {% include 'components/resume.html' %}
        {% include 'components/contact.html' %}

    </main><!-- End #main -->
    {% include 'components/footer.html' %}

    <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    {% load static %}
    <script src="{% static '/vendor/scripts/jquery/jquery.min.js' %}"></script>
    <script src="{% static '/vendor/scripts/jquery.validate/jquery.validate.min.js' %}"></script>
    <script src="{% static '/vendor/scripts/jquery.validate/jquery.validate.unobtrusive.js' %}"></script>
    <script src="{% static '/vendor/scripts/jquery.easing/jquery.easing.min.js' %}"></script>
    <script src="{% static '/vendor/scripts/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static '/vendor/scripts/waypoints/jquery.waypoints.min.js' %}"></script>
    <script src="{% static '/vendor/scripts/counterup/counterup.min.js' %}"></script>
    <script src="{% static '/vendor/scripts/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static '/vendor/scripts/venobox/venobox.min.js' %}"></script>
    <script src="{% static '/vendor/scripts/owl.carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static '/vendor/scripts/typed.js/typed.min.js' %}"></script>
    <script src="{% static '/vendor/scripts/aos/aos.js' %}"></script>

    <!-- Site Main JS File -->
    <script src={% static '/main.js' %}></script>

</body>

</html>