<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>About</h2>
        </div>
        <div class="row">
            <!--<div class="col-lg-4">
                       <img src=@Url.Content("~/Content/img/profile-img.jpg") class="img-fluid" alt="">
                   </div>-->
            <div class="col-lg-12 pt-4 pt-lg-0 content">
                <h3>Back End Developer &amp; Computer Scientist.</h3>
                <p>Computer Science student at Florida State University, computer programming enthusiast, and robotics hobbyist.</p>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="icofont-rounded-right"></i> <strong>School:</strong> Florida State University</li>
                            <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> BS in Computer Science (2024)</li>
                            <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> (850) 544-7140</li>
                            <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Tallahassee, FL</li>
                        </ul>
                    </div>
                </div>
                <p style="line-height: 215%;">
                    I started teaching myself how to program computers when I was thirteen and have not stopped learning since. I became the lead programmer for my high school’s robotics organization in 2017, due to my proficiency with computers and computer programming. Since then I have enrolled at Florida State University, pursuing a Bachelor of Science in Computer Science.
                </p>
            </div>
        </div>
    </div>
</section><!-- End About Section -->