<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>About</h2>
    </div>
    <div class="row">
      <div class="col-lg-12 pt-4 pt-lg-0 content">
        <h3>Full Stack Developer &amp; Computer Scientist.</h3>
        <p>Computer Science student at Florida State University, computer programming enthusiast, and robotics hobbyist.
        </p>
        <div class="row text-content">
          <div class="col-lg-4 mx-auto mb-5">
            <div class="stacked-frame-img">
              <div class="img-container">
                <img src="/static/img/profile-img.jpg" class="img-fluid" alt="Hunter Goram">
                <div class="img-overlay"></div>
              </div>
              <div class="frame"></div>
            </div>
          </div>
          <div class="col-lg-8">
            <p style="line-height: 200%;" class="ml-3">
              Discovered programming at 13 and quickly became the lead programmer for my high school's robotics team in 2017.
              I'm pursuing a Computer Science degree at Florida State University, enriched by 1.5 years of internship experience at Raymond James Financial and Keysight Technologies, merging academic insights with industry experience.
            </p>
            <ul>
              <li><i class="icofont-rounded-right ml-3"></i><strong>School:</strong> Florida State University</li>
              <li class="d-flex flex-col"><i class="icofont-rounded-right ml-3"></i><strong>Degree:</strong>&nbsp;<p>Bachelor of Science in Computer Science (2024)</p></li>
              <li><i class="icofont-rounded-right ml-3"></i> <strong>City:</strong> Tallahassee, FL</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End About Section -->