<!-- ======= Footer ======= -->
<footer id="footer">
  <div class="container">
    <h3>Hunter Goram</h3>
    <div class="social-links">
      <a href="{{ TwitterURL }}" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="{{ GithubURL }}" class="google-plus"><i class="bx bxl-github"></i></a>
      <a href="{{ LinkedinURL }}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
    <div class="container">
      <div class="copyright mx-auto">
        <p>© 2024 Hunter Goram. All Rights Reserved.</p>
        <p>
          <a href="https://www.freeprivacypolicy.com/live/d50da09e-2248-4110-baf2-64b22b48e104">Privacy Policy</a>
        </p>
      </div>
    </div>
  </div>
</footer><!-- End Footer -->