<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="container">
        <h3>Hunter Goram</h3>
        <p>Wow! You made it all the way here. Consider contacting me with business inquiries in the section above.</p>
        <div class="social-links">
            <a href="{{ TwitterURL }}" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="{{ GithubURL }}" class="google-plus"><i class="bx bxl-github"></i></a>
            <a href="{{ LinkedinURL }}" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
    </div>
</footer><!-- End Footer -->