<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Resume</h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Summary</h3>
                <div class="resume-item pb-0">
                    <h4>Hunter Goram</h4>
                    <p><em>Innovative and passionate developer with years of experience designing and developing back end web applications and robotics control software.</em></p>
                    <ul>
                        <li>Tallahassee, FL</li>
                        <li>(850) 544-7140</li>
                        <li>huntergoram2@gmail.com</li>
                    </ul>
                </div>
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Bachelor of Science, Computer Science</h4>
                    <h5>2020 - 2024</h5>
                    <p><em>Florida State University, Tallahassee, FL</em></p>
                    <p>Currently, pursuing a Bachelor of Science in Computer Science at Florida State University, forwarding my goals of becoming a more informed, skilled developer.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Experience</h3>
                <div class="resume-item">
                    <h4>Lead Software Engineer</h4>
                    <h5>2017 - 2020</h5>
                    <p><em>Lake Minneola High School, Minneola, FL </em></p>
                    <ul>
                        <li>Led a team of prospective software engineers in the design, development, and implementation of motor control, network, and automation software.</li>
                        <li>Introduced standards and practices to the team and create tests to ensure the proper functionality of robotic operations. </li>
                        <li>Optimized vision-assistance and automation software leveraging parallel computing concepts and single-board computers</li>
                        <li>Developed software utilizing C++, Java, and Python on hardware with limited computational resources.</li>
                        <li>Oversaw the efficient use of project budget ranging from $200 - $100.</li>
                        <li>Under my leadership, the team won its first event in team history and was 2nd place in another.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3 class="resume-title">Experience</h3>
                <div class="resume-item">
                    <h4>Application Developer – Intern</h4>
                    <h5>June - August 2021</h5>
                    <p><em>Raymond James Financial</em></p>
                    <ul>
                        <li>Developed an automation test engine to flag small changes in system behavior that are not caught by unit test cases</li>
                        <li>Worked on general product tickets, solving bugs and introducing features.</li>
                        <li>Worked in a team of diverse engineers from differing backgrounds in an Agile pattern to quickly and effectively complete project objectives.</li>
                        <li>Optimized database access queries utilizing Spring Data JPA to improve backend service efficiency and reduce latency for the end user.</li>
                        <li>Communicated with team members to ensure proper completion of project requirements.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Resume Section -->