<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Resume</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title-stacked">Summary</h3>
        <div class="resume-item-stacked pb-0">
          <h4>Hunter Goram</h4>
          <p><em>Innovative and passionate developer with years of experience designing and developing back end web
              applications and robotics control software.</em></p>
          <ul>
            <li><i class="icofont-rounded-right ml-3"></i><strong>Located: </strong><p>Tallahassee, FL</p></li>
            <li><i class="icofont-rounded-right ml-3"></i><strong>Phone: </strong><p>(850) 544-7140</p></li>
            <li><i class="icofont-rounded-right ml-3"></i><strong>Email: </strong><p>huntergoram2@gmail.com</p></li>
          </ul>
        </div>
        <h3 class="resume-title-stacked">Education</h3>
        <div class="resume-item-stacked">
          <h4>Bachelor of Science, Computer Science</h4>
          <h5>2020 - 2024</h5>
          <p><em>Florida State University, Tallahassee, FL</em></p>
          <p>Currently, pursuing a Bachelor of Science in Computer Science at Florida State University, forwarding my
            goals of becoming a more informed, skilled developer.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <img class="resume-img" src="/static/img/businessman_illustration.svg" alt="" class="img-fluid">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h3 class="resume-title">Experience</h3>
        <div class="resume-item">
          <div class="resume-item-header">
            <h4>Software Engineering Intern</h4>
            <p>June 2022 - October 2023</p>
          </div>
          <h5>Keysight Technologies</h5>
          <ul>
            <li>As an intern, took a leading role in developing an email analytics API with Python and AWS (S3, EKS,
              DynamoDB, EventBridge), leveraging Kubernetes to enhance performance by 40% and drive a 25% boost in email
              campaign effectiveness.</li>
            <li>Led an intern cohort in developing an automated template emailing application using Python (Django) and AWS
              Lambda, achieving a 20% reduction in operational costs by transitioning away from costly external services.</li>
            <li>Designed and implemented a data visualization dashboard using AWS Amplify and React for an internal job
              scheduling service, allowing internal customers to spend less time on job analysis.</li>
            <li>Collaborated closely with existing team members to create comprehensive documentation for interns’ projects,
              ensuring optimal efficiency and maintainability.</li>
          </ul>
        </div>
        <div class="resume-item">
          <div class="resume-item-header">
            <h4>Application Developer Intern</h4>
            <p>June - August 2021</p>
          </div>
          <h5>Raymond James Financial</h5>
          <ul>
            <li>Enhanced internal efficiency by designing and deploying an automated stock portfolio rebalancer in Java and
              Spring, leading to a 30% increase in the number of customers managed per financial advisor and reducing account
              rebalancing time by 50%.</li>
            <li>Accumulated valuable experience in industry-standard architectural patterns, with a particular focus on
              microservices architecture.</li>
            <li>Enhanced my technical communication and teamwork skills through close collaboration with my mentor and team
              members, fostering a supportive and growth-oriented internship experience.</li>
            <li>Awarded recognition as an intern for exceeding internship expectations, rapidly acquiring core web development
              and Angular skills, and significantly contributing to user story implementations.</li>
          </ul>
        </div>
        <div class="resume-item">
          <div class="resume-item-header">
            <h4>Lead Student Software Engineer</h4>
            <p>August 2017 - May 2020</p>
          </div>
          <h5>Lake Minneola High School, Minneola, Florida</h5>
          <ul>
            <li>Led a team of prospective software engineers in the design, development, and implementation of motor
              control, network, and automation software.</li>
            <li>Introduced standards and practices to the team and create tests to ensure the proper functionality of
              robotic operations. </li>
            <li>Optimized vision-assistance and automation software leveraging parallel computing concepts and
              single-board computers</li>
            <li>Developed software utilizing C++, Java, and Python on hardware with limited computational resources.
            </li>
            <li>Oversaw the efficient use of project budget ranging from $200 - $100.</li>
            <li>Under my leadership, the team won its first event in team history and was 2nd place in another.</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Resume Section -->