<!-- ======= Skills Section ======= -->
<section id="skills" class="resume section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Skills</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-8 ml-3 mr-3 skills-container">
                <div class="row justify-content-center" data-aos="fade-right" data-aos-delay="400">
                    <div class="col-lg-10">
                        <h3 class="skills-title text-center">Frontend</h3>
                        <div class="skills-item">
                            <ul class="diamond">
                                <li>HTML & CSS</li>
                                <li>JavaScript (React, Node.js, Express, jQuery)</li>
                                <li>REST APIs</li>
                                <li>Postman</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center" data-aos="fade-left" data-aos-delay="400">
                    <div class="col-lg-10">
                        <h3 class="skills-title text-center">Backend</h3>
                        <div class="skills-item">
                            <ul>
                                <li>Python (Django, Flask, Jinja2, NumPy)</li>
                                <li>Java (Hibernate, JDBC, Lombok, Maven, Jackson)<br/>&ensp;Spring (Boot, Data JPA)</li>
                                <li>C# (ASP.NET Framework)</li>
                                <li>SQL (Oracle Database, SQLite3)</li>
                                <li>NoSQL (Firebase, MongoDB)</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center" data-aos="fade-right" data-aos-delay="400">
                    <div class="col-lg-10">
                        <h3 class="skills-title text-center">Miscellaneous</h3>
                        <div class="skills-item">
                            <ul>
                                <li>Version Control (Git, Azure DevOps)</li>
                                <li>Linux</li>
                                <li>Agile/Scrum Development</li>
                                <li>C++
                                <li>C</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Skills Section -->